// header
header.header#header
    nav.header__top
        .container.header__container.header__container--top
            a(href="/").header__logo
                svg(width="60px" height="60px")
                    use(xlink:href="img/icons.svg#logo")
            a(data-fancybox data-src="#menu" href="javascript:;").hamburger.focus
                span._line
                span._line
                span._line
    .header__offer
        .container.header__container.header__container--offer
            h1.header__title РЕАЛИЗУЕМ КРУПНЕЙШИЕ ПРОЕКТЫ В РОССИИ
            p.header__descrpition стадионы, газопроводы, мосты, дамбы
// header