// modals
.modal#menu
    .container
        ul.main-menu
            li
                a(href="#numbers") Numbers
            li
                a(href="#project") Projects
            li
                a(href="#request-one") Request one
            li
                a(href="#services") Services
            li
                a(href="#portfolio") Portfolio
            li
                a(href="#faq") Faq
            li
                a(href="#partners") Partners
            li
                a(href="#reviews") Reviews
            li
                a(href="#request-two") Request two
            li
                a(href="#contacts") Contacts
// modals
