/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */
$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$bolder: 800 !default;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */
$black: #000 !default;
$dark-grey: #333 !default;
$white: #fff !default;

$orange: #f7654a !default;
$dark: #404149 !default;
$gray: #999999 !default;

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */
$xx: 440 !default; // window size < 440px
$xs: 560 !default; // window size < 560px
$sm: 780 !default; // window size < 780px
$md: 960 !default; // window size < 960px
$lg: 1100 !default; // window size < 1100px

/* 
 * ==================================================================================
 * default
 * ==================================================================================
 */

/* html */
$htmlFontSize: 16 !default; // size is in "px"

/* body */
$bodyColor: $black !default;
$fontFamily: "OpenSans" !default;

/* text */
$text-color: $black !default;

$text-size: 1rem !default; // size is in "rem"
$text-size-sm: 0.875rem !default; // size is in "rem"

$text-small-size: 0.875rem !default; // size is in "rem"
$text-small-size-sm: 0.875rem !default; // size is in "rem"

$text-big-size: 1.125rem !default; // size is in "rem"
$text-big-size-sm: 1rem !default; // size is in "rem"

/* link */
$link-color: $black !default;

$link-size: $text-size !default; // if you need another size, you can change size
$link-size-sm: $text-size-sm !default; // if you need another size, you can change size

/* button */
$button-size: 0.875rem !default; // if you need another size, you can change size
$button-size-sm: 0.875rem !default; // if you need another size, you can change size

/* container */
$widthContainer: 1110 !default; // size is in "px"
$maxWidth: 1920 !default; // size is in "px"
